{% extends "layout.html" %}

{% block content %}
<h1>Welcome to my portfolio</h1>

<!--HERO SECTION-->
<div class = "text-center py-5">
    <h1 class = "display-4 fw-bold" data-aos="fade-up">Hi, I'm Shivangi</h1>

    <p class = "lead text-muted mt-3" data-aos="fade-up" data-aos-delay="200">
        I build modern web applications with Python and Flask. I also build applications related to Python DSA, Machine Learning and GenAI.
    </p>

    <div class="mt-4" data-aos="fade-up" data-aos-delay="400">
    <a href="/projects" class="btn btn-primary btn-lg me-2">View My Work</a>
    <a href="/contact" class="btn btn-outline-dark btn-lg">Contact Me</a>
  </div>   
</div>

<!-- SKILLS SECTION-->
<div class="row text-center mt-5">
    <div class="col-md-4" data-aos="zoom-in">
        <h4>Backend</h4>
        <p class="text-muted">Flask, Python, SQLite</p>
    </div>
    <div class ="col-md-4" data-aos = "zoom-in" data-aos-delay="200">
        <h4>Frontend</h4>
        <p class="text-muted">HTML, CSS, Bootstrap</p>
    </div>
    <div class="col-md-4" data-aos ="zoom-in" data-aos-delay="400">
        <h4>Tools</h4>
        <p class = "text-muted">Git, GitHub, Vs Code</p>
    </div>
</div>

  

<!-- FEATURED PROJECTS-->
<!--<a href ="/projects">Projects</a>
<a href = "/contact">Contact</a>-->                  <!-- ### COMMENTS### We removed this after introducing Bootstrap CSS navbar in layout.html 
                                                        which created navigation bar on top of the home page-->
<div class="mt-5">
    <h2 class="text-center mb-5" data-aos="fade-up">Featured Projects</h2>
<div class="container pb-5">
<div class = "row">
{% for project in projects[:3] %}
<div class = "col-mb-5" data-aos="fade-up">
    <div class = "card shadow-sm">
        <div class = "card-body">
            <h5 class = "card-title">{{ project["title"] }}</h5>        <!-- ### COMMENTS### we updated project[1] to project["title"] by adding conn.row_factory = sqlite3.Row.
                                                     This will help us using the actual column names instead of numbers-->
            <p class="card-text">{{ project["description"] }}</p>
        </div>
    </div>
</div>
{% endfor %}
</div>
</div>
</div>
{% endblock %}


